<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>Real Estate</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="~/dashmin-1.0.0/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Estate Agent Panel</h6>
                <span>agent04</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a asp-controller="Dashboard" asp-action="Index" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <a asp-controller="Default" asp-action="Index" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Go to Site</a>
            <a asp-controller="Category" asp-action="Index" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Adverts</a>
            <a asp-controller="Employee" asp-action="Index" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Old Adverts</a>
            <a asp-controller="Chart" asp-action="Index" class="nav-item nav-link"><i class="fa fa-gift me-2"></i>Profile Details</a>
            <a asp-controller="Chart" asp-action="Index" class="nav-item nav-link"><i class="fa fa-envelope me-2"></i>Incoming Mes</a>
            <a asp-controller="Chart" asp-action="Index" class="nav-item nav-link"><i class="fa fa-envelope me-2"></i>Outgoing Mes</a>
            <a asp-controller="Chart" asp-action="Index" class="nav-item nav-link"><i class="fa fa-envelope me-2"></i>New Mes</a>
            <a asp-controller="Chart" asp-action="Index" class="nav-item nav-link"><i class="fa fa-cog me-2"></i>Settings</a>
            <a asp-controller="Chart" asp-action="Index" class="nav-item nav-link"><i class="fa fa-times me-2"></i>Sign Out</a>

        </div>
    </nav>
</div>