@model CreateProductDto
@{
    ViewData["Title"] = "CreateAdvert";
    Layout = "~/Areas/EstateAgent/Views/LayoutEstateAgent/Index.cshtml";
}

<div class="container-fluid pt-4 px-4 ">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">New Advert Adding Page</h6>
                <form method="post" >
                    <div class="mb-3">
                        <label asp-for="Title" class="form-label">Title</label>
                        <input asp-for="Title" type="text" class="form-control">
                        <span asp-validation-for="Title" class="text-danger"></span>

                    </div>

                    <div class="mb-3">
                        <label asp-for="City" class="form-label">City</label>
                        <input asp-for="City" type="text" class="form-control">
                        <span asp-validation-for="City" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label asp-for="District" class="form-label">District</label>
                        <input asp-for="District" type="text" class="form-control">
                        <span asp-validation-for="District" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label asp-for="ProductCategory" class="form-label">Category</label>
                        @Html.DropDownListFor(x => x.ProductCategory, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
                        <span asp-validation-for="ProductCategory" class="text-danger"></span>

                    </div>

                    <div class="mb-3">
                        <label asp-for="Price" class="form-label">Price</label>
                        <input asp-for="Price" type="text" class="form-control">
                        <span asp-validation-for="Price" class="text-danger"></span>

                    </div>

                    <div class="mb-3">
                        <label asp-for="Type" class="form-label">Type</label>
                        <input asp-for="Type" type="text" class="form-control">
                        <span asp-validation-for="Type" class="text-danger"></span>

                    </div>

                    <div class="mb-3">
                        <label asp-for="CoverImage" class="form-label">Cover Image</label>
                        <input asp-for="CoverImage" type="text" class="form-control">
                        <span asp-validation-for="CoverImage" class="text-danger"></span>

                    </div>

                    <div class="mb-3">
                        <label asp-for="Address" class="form-label">Address</label>
                        <textarea asp-for="Address" type="text" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>

                    </div>

                    <div class="mb-3">
                        <label asp-for="Description" class="form-label">Description</label>
                        <textarea asp-for="Description" type="text" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>

                    </div>

                    <button class="btn btn-primary">Save Product</button>
                    <a asp-controller="Product" asp-action="Index" class="btn btn-danger">Back</a>
                </form>

            </div>
        </div>

    </div>
</div>


