@model UpdateBottomGridDto
@{
    ViewData["Title"] = "UpdateBottomGrid";
    Layout = "~/Views/Admin/Index.cshtml";
}


<div class="container-fluid pt-4 px-4 ">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Bottom Grid Updating Page</h6>
                <form method="post" asp-action="UpdateBottomGrid">
                    <input type="hidden" asp-for="BottomGridID" />
                    <div class="mb-3">
                        <label asp-for="Icon" class="form-label">Icon</label>
                        <input asp-for="Icon" type="text" class="form-control">
                        <span asp-validation-for="Icon" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label asp-for="Title" class="form-label">Title</label>
                        <input asp-for="Title" type="text" class="form-control">
                        <span asp-validation-for="Title" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label asp-for="Description" class="form-label">Description</label>
                        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>

                    </div>

                    <button class="btn btn-success">Update </button>
                    <a asp-controller="BottomGrid" asp-action="Index" class="btn btn-danger">Back</a>
                </form>

            </div>
        </div>

    </div>
</div>

