@model List<ResultPopularLocationDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
    int count = 0;
}

<style>
    img{
        border-radius:50%;
        height:50px;
        width:50px;
    }
</style>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Popular Location List</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">City Name</th>
                                <th scope="col">Delete</th>
                                <th scope="col">Update</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;

                                <tr>
                                    <th scope="row">@count</th>
                                    <td> <img src="@item.ImageUrl"/>
                                        @item.CityName</td>


                                    <td>
                                       @*  <a href="/PopularLocation/DeletePopularLocation/@item.LocationID" class="btn btn-outline-danger">Delete</a> *@

                                        <a href="/PopularLocation/DeletePopularLocation/@item.LocationID" onclick="return confirm('Do you want to delete?')" class="btn btn-outline-danger">Delete</a>
                                    </td>
                                    <td>
                                        <a asp-controller="PopularLocation" asp-action="UpdatePopularLocation"
                                           asp-route-id="@item.LocationID" class="btn btn-outline-success">Update</a>
                                    </td>


                                </tr>
                            }


                        </tbody>
                    </table>
                    <a asp-controller="PopularLocation" asp-action="CreatePopularLocation"
                       class="btn btn-outline-info">Add New Popular Location</a>
                </div>
            </div>
        </div>
    </div>
</div>

